/*开始*/
body,h2,h3,h4,p,dl,dd,ul,ol,form,input,th,td,select,hr{ margin:0; padding:0;color: #666666;font-family: "微软雅黑";}
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input{ outline:none; }
body { font-size:12px; font-family:"微软雅黑"; }

/*header*/
.header_top{width: 100%;height: 110px;position: relative;top: 0;}
.sreach{width: 1200px;height: 84px;margin: auto;position: relative;top: 0px;padding-top: 16px;}
.menu{width: 1200px;height: 42px;margin: auto;position: relative;top:0px;}
hr:nth-child(1){width: 100%;height: 2px;background: #B1191A;border: none;position: relative;}
.nav_content{width: 1200px;height: 469px;margin: auto;position: relative;top:0px;}
.comment{width: 1200px;height: 234px;margin: auto;position:relative;top: 0;}
.column1{width: 1200px;height: 272px;margin: auto;position: relative;top:0px;}
.column2{width: 1200px;height: 590px;margin: auto;position: relative;top:0px;}
.column3{width: 1200px;height: 800px;margin: auto;position: relative;top:0px;}



/*header——top开始*/
.header_top .content1{height:32px;background:#F1F1F1;line-height: 30px;}
.header_top .content1 .center{width: 1200px;margin: auto;}
.header_top .content1 .center a{position:relative;left: 4px;color: #666666;}
.header_top .content1 .center a:hover{color: #B1191A;}
.header_top .content1 dl{position:relative;display: inline-block;left: 320px;}
.header_top .content1 dd{float: left;position: relative;top:-30px;left: 100px;padding:0 2px;z-index: 6;}
.header_top .content1 dd .active{color:#B1191A;}
.header_top .content1 dd:nth-child(odd){color: #666666;opacity: 0.2;}
.header_top .content1 dd:nth-child(even){width:67px;height: 30px;margin-left: 6px;}
.header_top .content2{text-align: center;width: 100%;height:80px;background:#C21624;cursor: pointer;position: relative;}


/*我的京东*/
#myJingdong_content{width: 278px;height: 222px;position: absolute;z-index: 5;
background: white;display: none;border:1px solid #DFDFDF;top:30px;}
.myJingdong{border:1px solid rgba(0,0,0,0);}
.myJingdong:hover{background: white;border:1px solid #DFDFDF;border-bottom: none;}
.myJingdong:hover #myJingdong_content{display: block;}
#myJingdong_kong{width:70px;height: 6px;background:white;position: absolute;z-index:7;
top:30px;display: none;}
.myJingdong:hover #myJingdong_kong{display: block;}
.myJingdong .top{width: 100%;height:80px;}
.myJingdong .top>div{float: left;}
.myJingdong .top .content{margin:10px;}
.myJingdong .top #img{width:62px;height: 62px;border-radius:50%;margin:10px;overflow: hidden;}
.myJingdong .top #img img{width: 100%;height: 100%;}
.myJingdong .bottom{text-align: left;}
.myJingdong .bottom p{margin-left: 10px;}
/*我的京东结束*/

/*手机京东*/
#mobileJingdong{width:88px;}
#myJingdong_content{width: 278px;height: 222px;position: absolute;z-index: 5;
background: white;display: none;border:1px solid #DFDFDF;top:30px;}
#mobileJingdong{border:1px solid rgba(0,0,0,0);}
#mobileJingdong:hover{background: white;border:1px solid #DFDFDF;border-bottom: none;}
#mobileJingdong:hover #myJingdong_content{display: block;}
#myJingdong_kong{width:90px;height: 6px;background:white;position: absolute;z-index:7;
top:30px;display: none;}
#mobileJingdong:hover #myJingdong_kong{display: block;}
#mobileJingdong .top{width: 100%;height:80px;}
#mobileJingdong .top>div{float: left;}
#mobileJingdong .top .content{margin-top:10px;line-height: 22px;}
#mobileJingdong .top #img{width:72px;height: 72px;margin:10px;overflow: hidden;}
#mobileJingdong .top #img img{width: 100%;height: 100%;}
/*手机京东结束*/
/*header_top结束*/


/*sreach开始*/
.sreach .logo{width: 364px;position:absolute;left: 0;height: 100%;}
.sreach .right{width: 540px;height:100%;position:absolute;left: 364px;top: 0;z-index: 1;}
.sreach .sousuo .form-control{width: 536px;height: 30px;margin-top: 18px;}
.sreach .sousuo .form-control input{width: 458px;height:36px;border: 3px solid #B1191A;position: absolute;left: 0;text-indent: 4px;}
.sreach .sousuo .form-control button{width: 78px;height:42px;background: #B1191A;border: none;outline: none;color: white;font-size: 16px;font-weight: bold;
position: absolute;left:460px;cursor: pointer;}
.sreach .sousuo .youhui{position: absolute;}
.sreach .sousuo .youhui li{float: left;margin-top: 14px;margin-right:6px;}
.sreach .sousuo .youhui li a{color: #666666;font-size: 12px;}
#one{color:#c81623;}
#buy{width: 136px;height: 38px;position: absolute;left: 1000px;top:26px;text-align: center;line-height: 38px;font-size: 14px;
background: #F9F9F9;border: 1px solid rgba(0,0,0,0.1);z-index: 5;cursor: pointer;}
#buy:hover{background: white;border-bottom: none;box-sizing: border-box;color: red;border-bottom: none;-webkit-box-shadow:0 1px 2px 1px #DFDFDF;}
#buy span{margin-left: 4px;}
#buy_goods{position: absolute;z-index: 4;width: 314px;height: 55px;right:-1px;top:36px;display: none;font-size: 14px;background: white;
line-height: 55px;text-indent: 2em;-webkit-box-shadow:0 1px 2px 1px #DFDFDF;box-sizing: border-box;border: 1px solid #DFDFDF;color: #666666;}
#kong{width: 134px;height: 6px;z-index: 6;position: absolute;top:35px;background: white;z-index: 6;display: none;}
/*sreach结束*/

/*menu*/
.all_goods{width: 210px;height: 45px;background:#B1191A;line-height: 45px;
padding-left: 10px;position: absolute;}
.all_goods a{color: white;font-size: 18px;}
.single_goods{width: 754px;height: 41px;
position: absolute;left:220px;}
.single_goods li{float: left;margin:0 18px;font-size: 18px;line-height:41px;}
.single_goods li a{color: #333333;}
.single_goods li a:hover{color:#D61533;}
/*menu*/

/*nav-content*/
.nav_content .sider_left{width:220px;height: 100%;
position: absolute;top: 0;background:#C81623;}
.nav_content .sider_left li{width: 100%;height:31px;line-height: 30px;}
.nav_content .sider_left li a{color: white;font-size: 16px;padding-left:4px;}
.nav_content .sider_left li a .icon{float: right;margin-right: 10px;}

.nav_content .banner{width: 746px;height:98%;position: absolute;left:220px;top: 0;padding: 4px;}
.nav_content .banner #banner_img{width:736px;height:100%;margin-left: 5px;overflow: hidden;margin-top:8px;}
.nav_content .banner #banner_img img{width: 100%;height: 100%;}
.btn-left{position: absolute;left: 10px;width: 30px;height: 70px;z-index: 2;cursor: pointer;z-index: 6;
background:#120E0B;opacity: 0.2;line-height: 70px;font-size: 18px;text-align: center;top:40%;color: white;display: none;}
.btn-right{position: absolute;width: 30px;height: 70px;z-index: 2;cursor: pointer;z-index: 6;
background:#120E0B;opacity: 0.2;line-height: 70px;font-size: 18px;text-align: center;top:40%;right:10px;color: white;display: none;}
.SeriaNumber{position: absolute;bottom: 10px;left: 300px;cursor: pointer;}
.SeriaNumber li{width: 22px;height: 22px;border-radius:50%;
background: #464443;color: white;text-align: center;line-height: 22px;float: left;margin-right: 6px;}





.nav_content .tips{width: 220px;height: 100%;position: absolute;left:974px;top: 0;}
.nav_content .tips #jingDongNews{width:218px;height:35px;
position: absolute;top: 0;padding: 0 6px;line-height:35px;}
.tips #jingDongNews div:nth-child(1){width:78%;float: left;font-size:18px;}
.tips #jingDongNews div:nth-child(2){width: 20%;float: left;}
.tips #jingDongNews div a{color: #666666;}
.tips #jingDongNews div a:hover{color: #B1191A;}

.nav_content .tips #information{width: 100%;height: 132px;
position: absolute;top: 35px;}
.nav_content .tips #information p{margin:7px 10px;}



.nav_content .tips #tips_nav{width: 100%;height: 30px;
position: absolute;top:167px;}
.nav_content .tips #tips_nav li{width: 24%;float: left;height: 30px;text-align: center;border: 1px solid #DFDFDF;
line-height: 30px;}
.nav_content .tips #tips_nav li .kong{width:100%;height: 2px;background: red;visibility: hidden;}
.tips li a{color: #666666;}
.tips li a:hover{color: #B1191A;}
.nav_content .tips #tips_nav_content{width: 100%;height:180px;
position: absolute;top:197px;}
.tips #tips_nav_content p{margin:10px 10px;}
.tips #tips_nav_content p a{color: #666666;}
.tips #tips_nav_content p a:hover{color: #B1191A;}
.tips #tips_nav_content button{height:30px;background: #B1191A;border: none;
border-radius:2px;color: white;margin: 6px 10px;}
.tips #tips_nav_content .shouJiBanli{margin: 6px 10px;}
.tips #tips_nav_content .shouJiBanli>div{width: 32px;height: 20px;background: #B1191A;
color: white;display: inline-block;}
.tips #tips_nav_content .shouJiBanli a{color: blue;}
.tips #ad{width: 220px;height:70px;position: absolute;bottom:0px;}
.tips #ad img{width: 100%;height: 100%;}
/*nav-content*/

/*comment开始*/
.comment .card{width: 220px;height: 160px;position: absolute;left: 0;margin: 18px 0;}
.comment .xuanxiang{width:984px;height: 160px;position: absolute;
left:220px;margin: 18px 0;overflow: hidden;}
.comment .xuanxiang #ul1{width:4920px;height:180px;position: absolute;left: -990px;overflow: hidden;top: 0px;}
.comment .xuanxiang li{width:984px;height:170px;float: left;overflow: hidden;
margin: 0;padding: 0;background: #EEEEEE;}
.comment .xuanxiang img{float: left;height: 100%;width: 24.5%;}
.btn-left2{width: 30px;height: 70px;background:#120E0B;opacity: 0.2;
position: absolute;z-index: 8;color: white;line-height: 70px;text-align: center;
left: 218px;top:60px;cursor: pointer;display: none;}
.btn-right2{width: 30px;height: 70px;background:#120E0B;opacity: 0.2;
position: absolute;z-index: 8;color: white;line-height: 70px;text-align: center;
right:-2px;top:60px;cursor: pointer;display: none;}
/*comment结束*/


/*column1开始*/
.mt{padding:6px 10px;line-height:20px;}
.mt h2{font-weight:400;color:#120E0B;font-size: 20px;display: inline;}
.mt a{float: right;color: #666666;}
.mt a:hover{color: #B1191A;}
.mc .mc-change{width: 100%;height: 190px;overflow: hidden;}
.mc .spacer{width: 365px;height: 5px;position: absolute;top: -2px;left: 0;}
.mc .spacer i{width: 365px;height: 1px;background:-webkit-linear-gradient(left,#DFDFDF,#B1191A);
display: inline-block;float: left;}
.mc .spacer i:after{width: 4px;height: 4px;background: #B1191A;border-radius:50%;
display:inline-block;content:" ";float:right;margin-top: -1px;}
.mc{width: 100%;height: 220px;border: 1px solid #DFDFDF;position:relative;padding-top: 20px;
border-top: 1px solid #DFDFDF;}
.mc li{text-align: center;text-decoration: none;float: left;width:200px;padding-bottom: 10px;}
.mc li p{width: 130px;text-align: center;margin-left: 20px;}
.mc li p a{color: #666666;}
.mc li p b{color:#B1191A;font-size: 16px;}
/*column1结束*/

/*column2开始*/
.column2 .hs-content{width: 100%;height:247px;}
.column2 .hs-content .has-coll a{display:inline-block;height:247px;border:1px solid #DFDFDF;float: left;background: #F7F7F7;
position: relative;}
.column2 .hs-content .has-coll>a:nth-child(1){width: 420px;}
.has-coll>a p:nth-child(1){height: 41px;line-height: 41px;font-size: 14px;
font-weight: 800;text-align: center;}
.sub-tit{position: absolute;z-index: 1;left: 45px;text-align:left;top: 100px;}
.sub-tit .desc{font-size: 16px!important;text-align: left!important;}
.sub-tit .tit{color: #000000;}
.sub-tit .promotion{color:#B1191A;}
.has-coll>a p img{float: right;}
.has-coll>a:nth-child(2) .sub-tit{left: 20px!important;position: absolute;top: 100px!important;} 
.column2 .hs-content .has-coll>a:nth-child(2){width: 228px;}
.column2 .hs-content .has-coll>a:nth-child(3){width: 411px;}
.column2 .hs-content .item-small{width: 133px;height: 405px;border:1px solid #DFDFDF;float: right;}
.column2 .hs-content .item-small{display: inline!important;margin: 0;padding: 0;}
.column2 .hs-content .item-small img{float: left;border: 1px dashed #DFDFDF;width: 63.5px;}
.column2 .hs-content .has-coll2{width: 1064px;height:159px;position: absolute;
top: 280px;z-index: 5;}
.column2 .hs-content .has-coll2 img{width: 20%;margin: 0;padding: 0;float: left;}
.column2 .hs-content .has-coll3{width: 100%;height: 140px;position: absolute;bottom: 0;
overflow: hidden;}
.column2 .hs-content .has-coll3 img{float: left;width:33.33%;margin-top: 20px;}
/*column2结束*/


/*column3开始*/
.clothes .mt{width: 1180px;height: 30px;text-indent: 3em;position: relative;
background: url(../img/2016-10-17_162526.png) no-repeat 3px;line-height: 37px;z-index: 11;}
.clothes .mt ul {text-indent:0;}
.clothes .mt ul li{float: left!important;text-align: center;padding: 0;margin: 0;}
.clothes .mt ul>li:nth-child(odd){width: 58px;height: 36px;}
.clothes .mt ul>li:nth-child(odd):nth-child(1){border:1px solid #B1191A;border-bottom: none;
background:white;}
.clothes .mt ul>li:nth-child(odd):nth-child(1) .mt-kong{visibility: visible;}
.mt-kong{width: 100%;height: 2px;background:#B1191A;visibility: hidden;}
.clothes .mt ul>li:nth-child(even){width:1px;padding: 0 4px;opacity: 0.4;padding: 0;margin: 0;}
.clothes .mt ul{position: absolute;top: 6px;right: 0;}
.clothes .mt  a{float: none!important;}

.clothes .inner-slide{width: 100%;height: 475px;position: relative;}
.clothes .inner-slide .banner2{width: 330px;height: 475px;float: left;}
.clothes .inner-slide .banner2 .zhongLei{width: 330px;height: 99px;
position: absolute;z-index: 5;bottom: 120px;background:rgba(255,255,255,0.3);}
.banner2 .zhongLei ol li{float: left;width: 107px;height: 46px;text-align: center;
line-height:46px;}
.banner2 .zhongLei ol li a{color: #666;font-size: 14px;}
.clothes .inner-slide .banner2 .fore1{width: 330px;height: 118px;z-index: 6;
position: absolute;top: 355px;background: #EAEBF5;}
.inner-slide .banner2 .fore1 .fore1-left{width:49%;height:112px;float: left;
text-align:left;font-size: 12px;}
.inner-slide .banner2 .fore1 .fore1-left p{margin:10px 30px;}
.inner-slide .banner2 .fore1 .fore1-left>p:nth-child(1) a:nth-child(1){color: #B1191A;}
.inner-slide .banner2 .fore1 .fore1-right>p:nth-child(2) a:nth-child(1){color: #B1191A;}
.inner-slide .banner2 .fore1 a{color: #666666;}
.inner-slide .banner2 .fore1 .fore1-left a:hover{color: #B1191A;}
.inner-slide .banner2 .fore1 .fore1-right{width: 49%;float: left;height: 112px;text-align: left;}
.inner-slide .banner2 .fore1 .fore1-right p{margin:10px 30px;}


.clothes .inner-slide .themes{width: 439px;height: 475px;float: left;}
.inner-slide .themes .main-body{width: 100%;height:100%;}
.clothes .inner-slide .words{width: 426px;height: 475px;float: left;}
.clothes .inner-slide .words a img{width: 49.55%;}
.clothes .inner-slide .words .last{position: relative;top: -152px;}
.clothes .inner-slide dl{width: 870px;height: 632px;overflow: hidden;}
.clothes .inner-slide dl dt{width: 870px;height: 632px;position: absolute;
left: 328px;z-index: 10;border-top: 1px solid #B1191A;display: none;}
.clothes .inner-slide dl li{width: 24.77%;height: 237px;float: left;
text-align:center;}
.clothes .inner-slide dl li img{margin-top: 20px;}
.clothes .inner-slide dl li p{margin:20px;}
.clothes .inner-slide dl li p a{color: #666666;}
.clothes .inner-slide dl li p:last-child{color:#B1191A;
font-size: 14px;}
.shangbiao{width: 100%;height: 40px;position: relative;top: 200px;background:#F7F7F7;}
.shangbiao li{float: left;border-right: 1px dashed #DFDFDF;width: 9.8%;padding-top: 15px;}
.shangbiao li:last-child{border: none;}
.shangbiao li a img{width: 98%;height: 100%;}
/*column3结束*/

/*column4开始*/
.cosmetics .mt{width: 1180px;height: 30px;text-indent: 3em;position: relative;
background: url(../img/2016-10-17_162526.png) no-repeat 3px;line-height: 37px;z-index: 11;}
.cosmetics .mt ul {text-indent:0;}
.cosmetics .mt ul li{float: left!important;text-align: center;padding: 0;margin: 0;}
.cosmetics .mt ul>li:nth-child(odd){width: 58px;height: 36px;}
.cosmetics .mt ul>li:nth-child(odd):nth-child(1){border:1px solid #B1191A;border-bottom: none;
background:white;}
.cosmetics .mt ul>li:nth-child(odd):nth-child(1) .mt-kong{visibility: visible;}
.mt-kong{width: 100%;height: 2px;background:#B1191A;visibility: hidden;}
.cosmetics .mt ul>li:nth-child(even){width:1px;padding: 0 4px;opacity: 0.4;padding: 0;margin: 0;}
.cosmetics .mt ul{position: absolute;top: 6px;right: 0;}
.cosmetics .mt  a{float: none!important;}

.cosmetics .inner-slide{width: 100%;height: 475px;position: relative;}
.cosmetics .inner-slide .banner2{width: 330px;height: 475px;float: left;}
.cosmetics .inner-slide .banner2 .zhongLei{width: 330px;height: 99px;
position: absolute;z-index: 5;bottom: 120px;background:rgba(255,255,255,0.3);}
.banner2 .zhongLei ol li{float: left;width: 107px;height: 46px;text-align: center;
line-height:46px;}
.banner2 .zhongLei ol li a{color: #666;font-size: 14px;}
.inner-slide .banner2 .fore1{width: 330px;height: 118px;z-index: 6;
position: absolute;top: 355px;background: #EAEBF5;}
.inner-slide .banner2 .fore1 .fore1-left{width:49%;height:112px;float: left;
text-align:left;font-size: 12px;}
.inner-slide .banner2 .fore1 .fore1-left p{margin:10px 30px;}
.inner-slide .banner2 .fore1 .fore1-left>p:nth-child(1) a:nth-child(1){color: #B1191A;}
.inner-slide .banner2 .fore1 .fore1-right>p:nth-child(2) a:nth-child(1){color: #B1191A;}
.inner-slide .banner2 .fore1 a{color: #666666;}
.inner-slide .banner2 .fore1 .fore1-left a:hover{color: #B1191A;}
.inner-slide .banner2 .fore1 .fore1-right{width: 49%;float: left;height: 112px;text-align: left;}
.inner-slide .banner2 .fore1 .fore1-right p{margin:10px 30px;}


.inner-slide .themes{width: 439px;height: 475px;float: left;}
.inner-slide .themes .main-body{width: 100%;height:100%;}
.inner-slide .words{width: 426px;height: 475px;float: left;}
.inner-slide .words a img{width: 49.55%;}
.inner-slide .words .last{position: relative;top: -152px;}
.inner-slide dl{width: 870px;height: 632px;overflow: hidden;}
.inner-slide dl dt{width: 870px;height: 632px;position: absolute;
left: 328px;z-index: 10;border-top: 1px solid #B1191A;display:none;}
.inner-slide dl li{width: 24.77%;height: 237px;float: left;
text-align:center;}
.inner-slide dl li img{margin-top: 20px;}
.inner-slide dl li p{margin:20px;}
.inner-slide dl li p a{color: #666666;}
.inner-slide dl li p:last-child{color:#B1191A;
font-size: 14px;}
.shangbiao{width: 98%;height: 70px;position: relative;top: 200px;background:#F7F7F7;}
.shangbiao li:last-child{border: none;}
.shangbiao li{float: left;border-right: 1px dashed #DFDFDF;width: 9.8%;}
/*column4结束*/



/*footer开始*/
.footer{width:1200px;height: 300px;position: relative;margin-top: 30px;}
.footer li{width: 16.49%;height: 100%;float: left;font-size: 16px;}
.footer li p{font-size: 10px!important;margin: 10px 0;}
.footer li p a{color: #333333;}
.footer li p a:hover{color: #B1191A;}
.footer li:last-child{background-image: url(../img/20130330B_1.png);height: 200px;
background-repeat:no-repeat;background-position:0px -131px;letter-spacing:3px; }
.footer>p{margin: auto;text-align: center;}
.footer>p a{color: #666666;}
.footer>p a:hover{color: #B1191A;}
/*ffooter结束*/